<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense"></ion-header>
  <ion-card>
    <img src="../assets/casa1.jpg"/>
    <ion-card-header>
      <ion-card-title><h5>República, UERJ</h5></ion-card-title>
      <ion-card-subtitle>Rio de Janeiro</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make, a type specimen book.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="../assets/casa3.jpg"/>
    <ion-card-header>
      <ion-card-title><h5>República, UFF</h5></ion-card-title>
      <ion-card-subtitle>Rio de Janeiro</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
