<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Hommy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense"></ion-header>
  <ion-text>
    <h4 class="recommended">Recomendados</h4>
  </ion-text>
  <ion-slides pager="true"[options]="slideOpts">
    <ion-slide>
      <ion-card>
        <img src="../assets/republica.jpg"/>
        <ion-card-header>
          <ion-card-title><h5>República Estudantil, UFRJ-Fundão</h5></ion-card-title>
          <ion-card-subtitle>Rio de Janeiro</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="../assets/casa1.jpg"/>
        <ion-card-header>
          <ion-card-title><h5>República Estudantil, UERJ</h5></ion-card-title>
          <ion-card-subtitle>Rio de Janeiro</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="../assets/casa2.jpg"/>
        <ion-card-header>
          <ion-card-title><h5>República Estudantil, UFF-Niterói</h5></ion-card-title>
          <ion-card-subtitle>Rio de Janeiro</ion-card-subtitle>
          
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="../assets/casa3.jpg"/>
        <ion-card-header>
          <ion-card-title><h5>República Estudantil, UFRJ-Fundão</h5></ion-card-title>
          <ion-card-subtitle>Rio de Janeiro</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-text>
    <h4 class="next-to-you">Próximos a você</h4>
  </ion-text>
  <ion-slides pager="true"[options]="slideOpts">
    <ion-slide>
      <ion-card>
        <img src="../assets/casa4.jpg"/>
        <ion-card-header>
          <ion-card-title><h5>República Estudantil, UFRJ-Fundão</h5></ion-card-title>
          <ion-card-subtitle>Rio de Janeiro</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="../assets/casa5.png"/>
        <ion-card-header>
          <ion-card-title><h5>República Estudantil, UERJ</h5></ion-card-title>
          <ion-card-subtitle>Rio de Janeiro</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="../assets/casa6.jpg"/>
        <ion-card-header>
          <ion-card-title><h5>República Estudantil, UFF-Niterói</h5></ion-card-title>
          <ion-card-subtitle>Rio de Janeiro</ion-card-subtitle>
          
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="../assets/casa7.jpg"/>
        <ion-card-header>
          <ion-card-title><h5>República Estudantil, UFRJ-Fundão</h5></ion-card-title>
          <ion-card-subtitle>Rio de Janeiro</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>
  
  
  
  
</ion-content>
